/.project
/.pydevproject

first-pass/logging/getsnowball.log

first-pass/logging/.DS_Store

first-pass/config.cfg

first-pass/logging/getsnowball copy.log

.DS_Store

first-pass/config.cfg

first-pass/config.cfg

first-pass/snowball-47545000-2.json

first-pass/snowball-47545000-3.json

first-pass/twitter-topic-input.mallet

first-pass/inferred-topics.1

first-pass/inferencer.mallet

first-pass/topic-state.gz

first-pass/sample-data/tweets.txt

first-pass/authtwitter.pyc
/build
/tweet_topic_matrix.npy
/user_topic_matrix.npy
/user_metadata_matrix.npy
/followers_histogram.png
/entropy_followers_plot.png
/entropy_histogram.png

settings.pyc

utils.pyc

authtwitter.pyc

entropy-v-followers.pyc

extract.pyc

friends-followers-entropy-plot.pyc

getlog.pyc

getsnowball.pyc

infertopics.pyc

n_weights_plot.png

preparedata.pyc

topic-fit.pyc

entropy-v-friends.pyc

topic-follower-sorted.txt

topic-friend-sorted.txt
/user_freq_matrix.npy
/consistency vs. follower.png
/152&25_weights_v_follower.png
/frequency vs. follower.png
/98_weights_v_follower.png
/frequency_histogram.png
/25_weights_v_follower.png
/sample-data
/log

user_freq.json

indexed_usernames.json
